<dependencies>
    <dependency>
        <groupId>org.jfoundry</groupId>
        <artifactId>jfoundry-spring-boot-starter</artifactId>
    </dependency>

    <dependency>
        <groupId>org.jfoundry</groupId>
        <artifactId>jfoundry-architecture-test</artifactId>
        <scope>test</scope>
    </dependency>
</dependencies>
